:root {
    --main-color: #FAA823;
	--part-color: #0097E8;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Light.ttf');
}
@font-face {
	    font-family: 'roboto-bold';
	    src: url('../fonts/roboto/Roboto-Bold.ttf');
	}
body,html {
    font-family: 'roboto';
    height: 100%;
}
body.login-background {
    overflow: hidden;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.alpha-overlay {
    background-color: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.box-container {
    position: relative;
    width: 395px;
    margin: auto;
    top: 105px;
}
.box-container.error-id {
    top: 70px;
}
.box-title {
    width: 100%;
    height: 65px;
    color: white;
    text-align: center;
    line-height: 65px;
    font-size: 30px;
}
.box-header {
    width: 100%;
    height: 65px;
    background-color: var(--main-color);
    background-image: url('../img/login.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.box-body {
    width: 100%;
    background-color: white;
    position: relative;
    padding: 20px 45px 30px 45px;
}
.box-body .box-body-row {
    position: relative;
    width: 100%;
    height: 60px;
    /*margin-top: 20px;
    margin-bottom: 20px;*/
    color: #3B3B3B;
}
.box-body .box-body-row.thin {
    height: 40px;
}
.input-text {
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    padding: 10px;
    background: white;
    border:1px solid var(--main-color);
    border-radius: 10px;
    color: #3B3B3B;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.input-text.error {
    border-color: #dd2424;
}
.input-text:focus {
    outline: none;
}
.clickable-link {
    cursor: pointer;
    width: fit-content;
    display: block;
    color: #3B3B3B;
    font-size: small;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.clickable-link:hover {
    color: rgb(100, 100, 100);
}
.clickable-link.right {
    float: right;
}
.clickable-link.left {
    float: left;
}
[type="radio"]:checked,
[type="radio"]:not(:checked),
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.checkbox-customized {
    cursor: pointer;
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    border: 1px solid #707070;
    position: relative;
    top: 3px;
}
[type="radio"]:checked + label .checkbox-customized, [type="checkbox"]:checked + label .checkbox-customized {
    background-color: white;
    border: 1px solid #707070;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label .checkbox-customized, [type="checkbox"]:not(:checked) + label .checkbox-customized {
    background-color: white;
    border: 1px solid #3B3B3B;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:checked + label .container-check, [type="checkbox"]:checked + label .container-check {
    color: #e2e2e2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label .container-check, [type="checkbox"]:not(:checked) + label .container-check {
    color: white;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.checkbox-customized .checkmark {
    top: 18%;
    left: 21%;
    position: absolute;
    width: 9px;
    height: 9px;
    border: none;
    border-radius: 100%;
    background-color: white;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.checkbox-customized .checkmark.orange {
    left: 15%;
}
[type="radio"]:checked + label .checkbox-customized .checkmark, [type="checkbox"]:checked + label .checkbox-customized .checkmark {
    background-color: #0097E8;

}
[type="radio"]:checked + label .checkbox-customized .checkmark.orange, [type="checkbox"]:checked + label .checkbox-customized .checkmark.orange {
    background-color: var(--main-color);

}
[type="radio"]:not(:checked) + label .checkbox-customized .checkmark, [type="radio"]:not(:checked) + label .checkbox-customized .checkmark.orange , [type="checkbox"]:not(:checked) + label .checkbox-customized .checkmark, [type="checkbox"]:not(:checked) + label .checkbox-customized .checkmark.orange {
    background-color: white;
}
.label-customized {
    cursor: pointer;
    height: 20px;
    display: inline-block;
    color: #3B3B3B;
    font-family: 'roboto';
    font-size: large;
    margin-left: 5px;
}
.input-button {
    width: 100%;
    height: 45px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    font-family: 'roboto';
    color:white;
    border: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.input-button.disabled {
    background-color: #C4C4C4;
    color: white;
}
.input-button.enabled {
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
}
.input-button.enabled:hover {
    background-color: rgb(175, 118, 25);
}
.error-message {
    color: #dd2424;
    text-align: center;
}
.login-back-link {
    display: block;
    height: 40px;
    line-height: 40px;
}
.login-back-link a {
    text-decoration: none;
    color: white;
    font-family: 'roboto';
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.login-back-link a:hover {
    margin-left: 10px;
}
.mod-back {
    display: none;
    width: 100%;
    min-height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
}

.mod-container {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: 4px solid #0257d5;
    box-shadow: #000000 1px 5px 14px;
    padding: 20px;
    text-align: center;
    min-height: 180px;
}
.mod-container.contract {
    width: 550px;
}
.mod-container.client {
    border-color: #EBEBEB;
}
.mod-container.tuto {
    width: 700px;
    background-color: #F6F6F6;
    border: none;
    padding: 0;
}
.mod-footer {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-bottom: 5px;
}
.mod-container-sepa {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 380px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: none;
    border-radius: 6px;
    box-shadow: #000000 1px 5px 14px;
    padding: 20px;
    text-align: center;
    min-height: 180px;
}
.mod-header {
    display: block;
    width: 100%;
    font-family: 'roboto-bold';
    color: #0097E8;
    text-align: left;
}
.mod-container.contract .mod-header {
    font-size: x-large;
}
.mod-header.client {
    color: #FAA823;
}
.center {
    text-align: center;
    margin-bottom: 10px;
}
.medium {
    font-size: 113%;
}
.large{
    font-size: large;
}
.wider-margin {
    margin-bottom: 30px;
}
.send-blue,.send-gray {
    border: none;
    border-radius: 6px;
    color: white;
    font-family: 'roboto';
    height: 25px;
    /*width: 90px;*/
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.send-blue {
    background: #0097E8;
}
.send-blue.send-client {
    background-color: #FAA823;
}
.send-gray {
    background: #707070;
}

.send-blue:hover {
    background-color: rgb(61, 179, 243);
}
.send-blue.send-client:hover {
    background-color: rgb(253, 191, 90);
}
.send-gray:hover {
    background-color: #969696;
}

.mod-sepa-header {
    display: block;
    width: 100%;
    font-family: 'roboto-bold';
    color: #707070;
    font-size: 110%;
}
.mod-sepa-header.big {
    margin-top: 20px;
    font-size: xx-large;
}
.mandat-ref {
    font-family: 'roboto-bold';
    font-weight: bold;
}
.mod-sepa-header.logo {
    margin-bottom: 10px;
    height: 120px;
    background-image: url('../img/logo-color.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.mod-sepa-row {
    display: block;
    width: 100%;
    margin-top: 30px;
}
.mod-sepa-row.left {
    text-align: left;
    font-size: small;
}
.mod-sepa-label {
    font-family: 'roboto-bold';
    color: #707070;
    font-size: small;
    text-align: left;
    display: block;
    padding-left: 3px;
}
.mod-sepa-button {
    width: 100%;
    height: 35px !important;
    font-family: 'roboto-bold' !important;
}
.adress-main {
    font-family: 'roboto-bold';
}
.mod-sepa-row-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #707070;
    font-size: 120%;
    margin-bottom: 20px;
}
.coordinate-display {
    display: table;
    border-collapse: collapse;
    border: none;
    width: 100%;
}
.coordinate-display tr td {
    height: 35px;
    width: 50%;
    text-align: left;
    font-family: 'roboto';
    padding: 0;
}
.coordinate-display tr td:first-child {
    font-family: 'roboto-bold';
}
.mod-sepa-row-header .mod-sepa-header-link {
    color: #3473FF;
    text-decoration: none;
    cursor: pointer;
}
.mod-sepa-row-header .mod-sepa-header-link:hover {
    color: rgb(107, 152, 250);
}
.mod-header.logout {
    margin-top: 20px;
    text-align: center;
}
.mod-content {
    display: block;
    width: 100%;
    font-family: 'roboto';
}
.mod-content ul {
    padding-left: 20px;
}
.mod-content ul li {
    list-style-type: disc;
    text-align: left;
    font-size: small;
}
.mod-information {
    display: block;
    width: 100%;
    height: 50px;
    font-family: 'roboto-bold';
    color: #3C3C3C;
}
.mod-information.small {
    font-family: 'roboto';
    font-size: small;
}
.tick-container {
    width: 150px;
    height: 150px;
    position: relative;
    margin: auto;
    border-radius: 50%;
    border: #00D808 3px solid;
}
.tick-container .tick-1 {
    width: 40px;
    height: 3px;
    background-color: #00D808;
    position: absolute;
    left: 29px;
    top: 78px;
    transform: rotate(45deg);   
}
.tick-container .tick-2 {
    width: 67px;
    height: 3px;
    background-color: #00D808;
    position: absolute;
    left: 53px;
    top: 68px;
    transform: rotate(135deg);
}
.margin-top-15px{
    margin-top: 15px !important;
}
.has-success>input,.has-success>select,.has-success>textarea{
    border: #00bfa5 1px solid!important;
    color: #00bfa5!important;;
}
.has-error>input,.has-error>select,.has-error>textarea{
    border: #d35400 1px solid!important;
    color: #d35400!important;
}
.is-success{
    border: #00bfa5 1px solid!important;
    color: #00bfa5!important;;
}
.is-error{
    border: #d35400 1px solid!important;
    color: #d35400!important;
}
.max-widh-90p{
    max-width: 90%;
}
.margin-bottom-50px{
    margin-bottom: 50px;
}
.margin-right-15px{
    margin-right: 15px;
}
.text-advertised{
    font-size: 12px;
    color: #e8e8e8;
    float: right;
    padding: 3px;
}
.break-word{
word-wrap: break-word;
}
.text-stormeo-blue{
    color: #0097E8;
}
.bg-stormeo-blue{
    background-color: #0097E8;
}
.bg-stormeo-blue:hover{
    color: #ffffff;
    background-color: rgb(76, 192, 254);
}
.modalSuccessProjetList{
    font-family: 'roboto';
    font-size: 17px;
    font-weight: normal;
    color: #707070;
}
.modalSuccessProjetThanks{
    font-size: large;
    font-family: 'roboto';
    color: #707070;
    font-style: inherit;
    font-weight: bold;
}
.btn-long{
   padding-right: 25%;
   padding-left: 25%;
}
#modalSepa h6{
    font-family: roboto-bold;
    font-size: 18px;
    color: #707070;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 50px;
}