.main-header {
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}
.main-header.part {
    background-color: var(--part-color);
}
.small-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.main-header-element {
    color: white;
    height: 100%;
    display: inline-block;
    line-height: 50px;
}
.main-header-element a {
    color: white;
    cursor: pointer;
    font-family: 'roboto';
    text-decoration: none;
    font-weight: bold;
}
.main-header-element a:hover .small-icon {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.aligned-element {
    display: inline-block;
    vertical-align: top;
    height: 200%;
}
.sub-column {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 50%;
}
.sub-column.iban{
    width: 42%;
}
.sub-column-extend {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 99%;
}
.sub-column.part {
    width: 33%;
    height: auto;
}
.sub-column.half {
    width: 49%;
    height: auto;
}
.sub-column.sub-column.part.large {
    width: 63%;
}
.sub-column.large {
    width: 95%;
}
.sub-column.part.last {
    padding-left: 20px;
}
.aligned-element.left-column {
    width: 19%;
}
.aligned-element.right-column {
    width: 80%;
    padding-left: 20px;
}
.aligned-element.right-column.part {
    padding-left: 50px;
}
.logo-element {
    display: block;
    width: 100%;
    height: 149px;
    background-color: white;
    background-image: url('../img/logo-color.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.menu-element {
    background-color: #616163;
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    padding-right: 5px;
    overflow: hidden;
}
.menu-element.part {
    background-color: var(--part-color);
    padding-right: 0;
}
.elem-dashboard {
    cursor: pointer;
    display: block;
    width: 100%;
    color: white;
    height: 60px;
    line-height: 60px;
    font-family: 'roboto';
    padding-left: 20px;
    text-align: left;
    font-size: 120%;
    transition: all 0.3s ease;
}
.elem-dashboard a {
    color: white;
    font-family: 'roboto';
    font-size: 120%;
}
.elem-dashboard:not(.last) {
    border-bottom: 1px solid #b6b6b8;
}
.elem-dashboard.selected {
    font-weight: bold;
}
.elem-dashboard.selected.part {
    background-color: #FDC92C;
}
.elem-dashboard:not(.selected):hover {
    padding-left: 30px;
}
.state-container {
    height: 149px;
    width: 100%;
    position: relative;
    padding-top: 25px;
}
.state-container.part {
    height: 95px;
}
.state-title {
    padding-right: 35px;
    position: relative;
    height: 35px;
    line-height: 40px;
    color: #3b3b3b;
    font-family: 'roboto';
    font-size: large;
    font-weight: bold;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.state-title span.advice {
    font-size: small;
    font-weight: normal;
    font-style: italic;
}
.bar-container {
    width: 100%;
    position: relative;
    height: 74px;
}
.bar-element {
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: 13px;
    width: 180px;
    background: #f6f6f6;
    border-top: 2px solid #3b3b3b;
    border-bottom: 2px solid #3b3b3b;
    border-right: 1px solid #3b3b3b;
    border-left: 1px solid #3b3b3b;
}
.bar-element.last-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 2px solid #3b3b3b;
}
.bar-element.last-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 2px solid #3b3b3b;
}
.progression {
    display: block;
    height: 9px;
    position: relative;
    border: none;
}
.progression.initial {
    background-color: #3b3b3b;
    width: 15px;
}
.progression.lvl-1 {
    background-color: #fa6523;
}
.progression.lvl-2 {
    background-color: #ff9300;
}
.progression.lvl-3 {
    background-color: #ffb100;
}
.progression.lvl-4 {
    background-color: #fae923;
}
.progression.lvl-5 {
    background-color: #90dd00;
}
.progression.lvl-6 {
    background-color: #73c8e8;
}
.arrow_box {
    top: 2px;
    position: relative;
    background: #707070;
    color: white;
    padding: 4px;
    display: table;
    height: 22px;
    text-align: center;
    border-radius: 6px;
    font-size: 75%;
    font-weight: bold;
    min-width: 30px;
}
.arrow_box:after {
    bottom: 100%;
    left: 12px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: #707070;
    border-width: 6px;
    /*margin-left: -22px;*/
}
.arrow_box.done:after {
    left: 98px;
}
.major-button {
    display: block;
    width: 90%;
    text-align: center;
    height: 35px;
    color: white;
    border-radius: 6px;
    font-family: 'roboto';
    font-size: large;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.major-button.green-b {
    background-color: #48C311;
}
.major-button.gray-b {
    background-color: #616163;
}
.major-button.green-b:hover {
    background-color: rgb(125, 245, 70);
}
.sub-column-header:not(.part) {
    font-family: 'roboto';
    font-weight: bold;
    font-size: large;
    border-bottom: 1px solid #969595;
    padding: 3px;
    display: block;
    width: 90%;
    text-align: left;
}
table.history {
    width: 90%;
    text-align: left;
    font-family: 'roboto';
    border-collapse: separate;
    border-spacing: 0;
}
.history th {
    border: none;
    font-weight: bold;
    padding: 15px 15px 2px 0px;
}
.history td {
    padding: 10px 15px 5px 5px;
}
.history td.date {
    width: 100px;
    border-right: 1px solid #a5a5a5;
}
.history .table-header {
    border: none;
}
.history .history-entry td {
    border: 1px solid #a5a5a5;
    border-bottom: none;
    height: 40px;
}
.history .history-entry:not(.first) td {
    border-top: none;
}
.history .history-entry.last td {
    border-bottom: 1px solid #a5a5a5;
}
.history .history-entry td:last-child {
    border-left: none;
}
.history .history-entry.first td:first-child { border-top-left-radius: 6px; }
.history .history-entry.first td:last-child { border-top-right-radius: 6px; }

.history .history-entry.last td:first-child { border-bottom-left-radius: 6px; }
.history .history-entry.last td:last-child { border-bottom-right-radius: 6px; }
.media-content {
    height: 360px;
    width: 80%;
    display: block;
    margin: auto;
    border: 4px solid rgba(0,151,232,0.1);
    background-color: rgba(222, 243, 255,0.3);
}
.media-content-box {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}
.indication-text {
    font-size: 30px;
    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;

}
.margin-top-10P {
    margin-top: 10%;
}
.text-dark-gray{
    color: #717577;
}