.main-content {
    width: 100%;
    height: 100%;
    position: relative;
}
.tab {
    display: inline-block;
    color: #ADADAD;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-family: 'roboto';
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #ADADAD;
}
.tab.last {
    border-right: none;
}
.tab.selected {
    color: #FAA823;
    font-weight: bolder;
}
.tab.passed {
    color: #FAA823;
}
.indication-content {
    margin-top: 20px;
    text-align: left;
    color: #3B3B3B;
    font-family: 'roboto-bold';
    /*font-weight: bold;*/
    display: block;
    width: 100%;
    padding-left: 20px;
}
.indication-content .indication-link {
    cursor: pointer;
    text-decoration: none;
    font-style: italic;
    color: #aaaaaa;
    font-size: small;
}    
.general-container {
    margin-top: 40px;
    width: 100%;
    padding-left: 20px;
    display: block;
}
.divider-container {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border-right: 1px solid #DBDBDB;
}
.divider-container.no-border {
    border-right: none;
}
.question-container{
    text-align: left;
    color: #3B3B3B;
    font-family: 'roboto';
    font-weight: bold;
    display: block;
    width: 100%;
}
.interaction-container {
    position: relative;
    height: 70px;
    line-height: 70px;
}
.bundle-container {
    width: 100%;
    display: block;
    padding-left: 20px;
    margin-top: 20px;
}
.bundle {
    position: relative;
    background-color: #F6F6F6;
    display: inline-block;
    width: 173px;
    margin-right: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    font-family: 'roboto';
}
.bundle.extended {
    width: 100%;
}
.bundle .mask {
    display: none;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    width: 100%;
    height: 180px;
}
.bundle .mask.masked {
    display: block;
}
.bundle div {
    display: block;
    height: 30px;
    line-height: 30px;
}
.bundle-header {
    background-color: #FAA823;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: large;
}
.bundle.extended .bundle-header {
    background-color: #616163;

}
.bundle-row {
    width: 95%;
    margin: auto;
    background-color: #F6F6F6;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #707070;
}
.bundle-row.last {
    border-bottom: none;
}
.bundle-button {
    background-color: #616163;
    text-transform: uppercase;
    text-align: center;
    color: white;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.bundle.extended .bundle-button {
    height: 10px;
    cursor: initial;
}
.bundle-button:hover {
    background-color: #aaaaaa;
}
.bundle.extended .bundle-button:hover {
    background-color: #616163;
}
.additional-container {
    width: 100%;
    display: block;
    margin-top: 100px;
}
.col-element {
    vertical-align: top;
    display: inline-block;
    margin-top: 40px;
    padding-left: 20px;
}
.col-element.optional-page-container {
    width: 65%;
}
.col-element.optional-preview {
    width: 35%;
}
.optional-page {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    display: block;
    height: 190px;
    background-color: #F6F6F6;
}
.optional-page div.optional-page-preview,  .optional-page div.optional-page-desc {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    height: 100%;
}
.optional-page-preview {
    border: 1px solid #616163;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.optional-page-desc span {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    font-family: 'roboto';
    text-align: left;
    color: #616163;
    width: 100%;
}
.optional-page-desc span.title {
    font-weight: bold;
    height: 30px;
    margin-top: 20px;
}
.optional-page-desc span.desc {
    font-size: 78%;
    font-weight: bold;
}
.button-row {
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}
.add-optional-button {
    border-radius: 6px;
    border: none;
    background-color: #FAA823;
    color: white;
    font-weight: bold;
    font-family: 'roboto';
    font-size: 90%;
    width: 70px;
    height: 26px;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.add-optional-button:hover {
    background-color: rgb(255, 201, 115);
}
.add-optional-button.added {
    content: "Ajouté";
    cursor: inherit;
    background: #3B3B3B;
}
.add-optional-button.added:hover {
    background: #3B3B3B;
}
.nb-notice {
    background-color: rgba(250, 168, 35, 0.05);
    color: #3B3B3B;
    font-family: 'roboto';
    font-size: small;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
.checkbox-accept .label-customized {
    font-size: small;
}
.main-button {
    border: none;
    color: white;
    text-transform: uppercase;
    font-family: 'roboto';
    font-weight: bolder;
    width: 170px;
    height: 35px;
    border-radius: 6px;
    margin-top: 20px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    
}
.main-button.large {
    width: 340px;
    display: block;
    margin: auto;
    font-size: large;
}
.main-button.small {
    width: 100px;
}
.main-button.micro {
    height: 20px;
    font-size: 12px;
    width: 100px;
    margin-top: 0;
}
.main-button.disabled {
    background-color: #ADADAD;
    cursor: inherit;
}
.main-button.enabled {
    background-color: #FAA823;
    cursor: pointer;
}
.main-button.clickable {
    cursor: pointer;
}
.main-button.clickable:hover {
    background-color: rgb(209, 209, 209);
}
.main-button.enabled.part {
    background-color: #0097E8;
}
.main-button.enabled:hover {
    background-color: rgb(255, 201, 115);
}
.main-button.enabled.part:hover {
    background-color: rgb(74, 175, 230);
}
.dropdown-option, .text-style {
    padding-left: 5px;
    margin-right: 10px;
    font-family: 'roboto';
    display: inline-block;
    height: 30px;
    width: 200px;
    border-radius: 6px;
    border: #707070 1px solid;
}
.dropdown-option {
    vertical-align: middle;
}
.dropdown-option.time {
    width: 70px;
}
.text-style.small, .dropdown-option.small {
    padding: 3px;
    width: 150px;
}
.text-style.large {
    width: 220px;
}
.text-style.larger {
    width: 100%;
}
.button-confirm-domain {
    cursor: pointer;
    height: 30px;
    width: 50px;
    font-family: 'roboto-bold';
    font-size: 120%;
    color: white;
    background-color: #FAA823;
    border-radius: 6px;
    border: none;
    transition: all 0.3s ease;
}
.button-confirm-domain:hover {
    background-color: rgb(248, 198, 116);
}
.dropdown-option:active, .text-style:active, .text-style:focus {
    outline: none;
}
.custom-label {
    width: fit-content;
    position: absolute;
    color: #3B3B3B;
    height: 30px;
    line-height: 30px;
    font-size: 100%;
}
.domain-name-table {
    display: block;
    margin-left: 20px;
    width: 40%;
}
.domain-name-table tr {
    height: 30px;
}
.domain-name-table td {
    padding: 0;
}
.domain-name-table tr:not(.add-row) td:first-child {
    border-right: 1px #DBDBDB solid;
}
.domain-name-table tr td:last-child{
    padding-left: 50px;
}
.domain-name-table tr th:last-child {
    padding-left: 20px;
}
.add-row td:first-child a, .add-color {
    cursor: pointer;
    text-decoration: none;
    font-style: italic;
    color: #aaaaaa;
    font-size: small;
}
.accept-container {
    float: right;
    margin-bottom: 10px;
    text-align: left;
    width: 60%;
}
.domain-table-choose {
    margin-top: 10px;
    display: table;
    border-collapse: collapse;
}
.domain-table-choose tr {
    color: #3B3B3B;
    height: 50px;
    border-bottom: 2px solid rgb(214, 214, 214);
}
.domain-table-choose tr:first-child {
    background-color: #F0F0F0;
}
.domain-table-choose tr th {
    padding: 0;
    font-family: 'roboto-bold';
    min-width: 10px;
}
.domain-table-choose tr td {
    padding: 0;
    min-width: 10px;
}
.domain-table-choose tr td:first-child {
    padding-left: 10px;
    width: 60px;
}
.domain-table-choose tr.indisp {
    background-color: rgba(195, 92, 104, 0.086);
}
.domain-table-choose tr.indisp td:nth-child(2) {
    color: rgba(59, 59, 59, 0.473);
    font-style: italic;
}
.domain-table-choose tr.indisp td:nth-child(3) {
    color: rgba(195, 92, 104);
}
.domain-table-choose tr:not(.indisp) td:nth-child(3) {
    color: #A7C35C;
}
.domain-table-choose .status-icon, .domain-table-choose .cancel-icon{
    height: 15px;
    width: 15px;
    vertical-align: middle;
}
.juridic-table tr td, .juridic-table tr th {
    padding: 5px 0 5px 0;
}
.juri-info-table {
    width: 100%;
}
.juri-info-table tr {
    padding: 5px 0 5px 0;
}
.juri-info-table tr td {
    width: 50%;
}
.juri-info-table tr td:nth-child(2) {
    font-style: italic;
    position: relative;
}
.juri-info-table .edit-icon {
    width: 20px;
    height: 15px;
    cursor: pointer;
}
.juri-info-table .info-text {
    display: inline-block;
    max-width: 85%;
}
.juri-info-table .info-text, .juri-info-table .edit-icon {
    vertical-align: top;
}
.principal-color-check {
    height: 30px;
}
.theme-box {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 320px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 50px;
}
.theme-box:not(.last) {
    margin-right: 100px;
}
.theme-box .theme-box-buttons {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
    padding-top: 125px;
}
.theme-box .theme-box-buttons .main-button {
    margin: auto;
    margin-bottom: 10px;
    display: block;
}
.theme-box .selected {
    left: 73px;
    display: none;
    position: absolute;
    width: 110px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    border-radius: 6px;
    background: #4FC745;
    font-family: 'roboto';
    color: white;
    box-shadow: 2px 2px 10px -1px black;
}
.accept-container-special {
    padding: 0 40px 0 40px;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    line-height: 50px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.3);
}
.header-underline {
    width: 100%;
    display: block;
    height: 35px;
    font-family: 'roboto';
    font-weight: bolder;
    color: #616163;
    font-size: x-large;
    border-bottom: 1px solid #616163;
}
.header-underline .edit-link {
    text-decoration: none;
}
.header-underline .edit-link .edit-icon{
    width: 20px;
    height: 15px;
}
.config-box-container {
    margin-top: 30px;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}
.config-box-container .config-box-header {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-family: 'roboto';
    font-size: 18px;
    color: #707070;
    padding-left: 10px;
}
.config-box-container .config-box-header.inside {
    padding-left: 0;
}
.config-box-container .config-box {
    display: block;
    position: relative;
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 6px;
    margin-bottom: 7px;
    padding: 10px;
}
.config-box-container.special {
    border-radius: 6px;
    border: 1px solid #555555;
    padding: 10px 10px 10px 20px;
    margin-top: 10px; 
}
.config-box-container .config-box.done {
    background-color: #C9EEB6;
}
.sub-config-box {
    position: relative;
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 7px;
    border-left: #989898 7px solid;
}
.sub-config-box.no-border {
    border: none;
}
.simple-text {
    font-family: 'roboto';
    font-size: small;
    color: #616163;
    text-align: left;
}
.pixabay-button {
    background-color: #525252;
    border-radius: 6px;
    border: none;
    width: 100px;
    height: 22px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}
.pixabay-button img {
    top: -22px;
    left: 1px;
    position: absolute;
    height: 66px;
    width: 100px;
}
.pixabay-button.pixabay-2 img {
    right: -7px;
    left: auto;
}
.pixabay-button.pixabay-2 {
    width: 275px;
    color: white;
    text-align: left;
    margin-left: 0;
}
.config-box-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.config-box-footer.inside {
    margin-top: 0;
}
.config-box-container-footer {
    text-align: right;
}
.slider-select {
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding-top: 20vh;
}
.slider-container {
    display: block;
    position: relative;
    width: 700px;
    height: 400px;
    background: #707070;
    border: #707070 2px solid;
    margin: auto;
}
.slider-footer {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding-right: 5px;
    position: absolute;
    bottom: 0;
}
.slider-button {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #73CB5E;
    border: 1px #707070 solid;
    border-radius: 50%;
    color: white;
    font-size: x-large;
    text-align: center;
    line-height: 50px;
    font-family: 'roboto';
    padding-bottom: 52px;
    cursor: pointer;
}
.slider-button:hover {
    background-color: rgb(137, 201, 121);
}
.slider-button.left {
    top: 175px;
    left: -25px;
}
.slider-button.right {
    top: 175px;
    left: 675px;
}
.slider-button-footer {
    width: 200px;
    height: 30px;
    background-color: #73CB5E;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 90%;
    color: white;
    font-family: 'roboto-bold';
    border: 1px white solid;
    cursor: pointer;
}
.slider-button-footer:hover {
    background-color: rgb(137, 201, 121);
}
.slider {
    overflow: hidden;
    height: 400px;
    width: 696px;
}
.slider.tuto {
    width: 700px;
}
.holder {
    width: 307%;
}
.holder.tuto {
    width: 400%;
}
.slide {
    float: left;
    height: 400px;
    width: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slide.tuto {
    padding: 50px 30px 50px 30px;
    width: 700px;
}

#slide-0 {
    background-image: url(../img/slider/slider1.jpg);
}
#slide-1 {
    background-image: url(../img/slider/slider2.jpg);
}
#slide-2 {
    background-image: url(../img/slider/slider3.jpg);
}
.congrat-cont {
    padding-top: 80px;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'roboto';
    color: #3B3B3B;
}
.congrat-cont .h1-c {
    font-family: 'roboto-bold';
    font-weight: bold;
    font-size: xx-large;
}
.congrat-cont .h3-c {
    font-size: large;
}
.congrat-cont .h5-c {
    font-size: small;
}
.caution-box {
    display: block;
    border: 1px solid #BE1313;
    font-family: 'roboto';
    font-size: small;
    color: #3B3B3B;
    padding: 5px 10px 5px 10px;
    margin: auto;
    margin-top: 70px;
}
.header {
    font-family: 'roboto';
    font-size: xx-large;
    position: absolute;
    bottom: 25px;
    left: 20px;
}
.account-row {
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.account-row:not(.last) {
    border-bottom: 1px solid #707070;
}
.account-row td, .account-row th {
    padding: 0;
}
table.profile-picture {
    border: none;
    border-collapse: collapse;
    width: 100%;
}
table.profile-picture tr th:first-child {
    background-color: #555555;
    padding: 10px 10px 10px 10px;
    width: 100px;
}
table.profile-picture tr th:first-child img {
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
}
table.profile-picture tr td {
    padding-left: 12px;
}
table.profile-picture tr td:not(.editable) {
    font-size: 130%;
}
table.profile-picture tr td.editable {
    font-size: small;
    height: 25px;
}
table.profile-picture tr td.facture {
    font-size: small;
    height: 35px;
    border-bottom: 1px solid #707070;
    padding-left: 0;
}
table.profile-picture tr td.facture.last {
    border-bottom: none;
}
table.profile-picture tr td.facture.title {
    border-bottom: none;
    font-size: large;
}
table.profile-picture tr td img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.image-placeholder {
    position: relative;
    width: 275px;
    height: 200px;
    background-color: white;
    border: solid 1px #707070;
    border-radius: 5px;
    margin-bottom: 5px;

}
.image-placeholder.website {
    line-height: 15px;
    padding: 5px;
    width: 95%;
    border: none;
    border-radius: 0px;
}
.image-placeholder.small {
    height: 100px;
}
.image-placeholder .img-placeholder {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.element-delete {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 100%;
    transform: translateX(-25px);
}
.user-advice {
    width: 100%;
    padding: 10px;
    background-color: #fef2e2;
    font-family: 'roboto-bold';
    font-weight: bold;
    font-size: 90%;
    margin-bottom: 7px;
}
.disabled-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(245 , 245, 245, 0.65);
}
.value-style {
    font-family: 'roboto-bold';
}
.hours-table {
    width: 815px;
    margin-top: 10px;
    display: table;
    border-collapse: collapse;
}
.hours-table tr {
    border-bottom: 1px solid #616163;
}
.hours-table tr td {
    padding: 10px 0 10px 0;
}
.hours-table tr td:first-child {
    width: 100px;
}
.hours-table tr td.little{
    width: 50px;
    text-align: center;
}
.hours-table tr td.little + td {
    width: 70px;
}
.wb-title, .wb-link, .wb-desc {
    font-family: 'roboto';
}
.wb-title {
    color: rgb(0, 47, 255);
    font-size: small;
}
.wb-link {
    color: #4FC745;
    font-size: xx-small;
}