.bold-title, .normal-title {
    font-family: 'roboto';
    font-size: larger;
    color: #3B3B3B;
}
.bold-title {
    font-weight: bolder;
}
.state-container .line {
    width: 40%;
    display: block;
    border-top: 1px solid #707070;
    margin-top: 15px;
}
.sub-column.part.first {
    border-right: 1px solid #707070;
}
.sub-column.part .sub-column-header {
    font-weight: bold;
    color: #3B3B3B;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
}
.text-style.part {
    border: 1px solid #707070;
    border-radius: 6px;
    padding: 5px;
    margin-right: 10px;
}
.sub-column-row {
    height: 38px;
}
.text-style.part:active, .text-style.part:focus {
    outline: 0;
}
.sub-column.part .sub-column-title {
    font-family: 'roboto';
    font-weight: bolder;
    color: var(--part-color);
    text-align: center;
    height: 60px;
    line-height: 60px;
    width: 100%;
    font-size: large;
}
.sub-column-box {
    background-color: rgba(0, 151, 232, 0.2);
    border-top: 2px solid rgba(0, 151, 232, 0.4);
    padding: 8px;
}
.sub-column-box ul {
    padding-left: 22px;
    color: #3B3B3B;
    margin: 0;
}
.price-container {
    width: 100%;
    display: block;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #707070;
    font-family: 'roboto';
    font-size: x-small;
    color: black;
    font-style: italic;
    text-align: center;
}
.price-container .price-emph {
    font-style: normal;
    font-weight: bolder;
    font-size: large;
}
.price-desc {
    padding: 15px 20px 0 20px;
    width: 100%;
    display: block;
    font-family: 'roboto';
    color: black;
    text-align: center;
}
.select-project-container {
    width: 390px;
    height: 70px;
    line-height: 70px;
    padding: 0 20px 0 20px;
}
.select-project-container.red-b {
    background-color: #FFD6D6;
}
.select-project-container.gray-b {
    background-color: #DDDDDD;
}
.select-project-container .vendor-label {
    display: inline-block;
    width: 75px;
    text-align: left;
    position: relative;
    font-family: 'roboto';
    font-weight: bolder;
    color: black;
}
.price-table {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
    border-collapse: separate;
    border-spacing: 0;
}
.price-table .prestation {
    width: 55%;
}
.price-table th, .price-table tr.total-price-line td {
    font-family: 'roboto';
    padding: 5px 0 5px 0;
    height: 50px;
    text-align: center;
    background-color: #FDC92C;
    width: 153px;
}
.price-table tr th:last-child {
    border-top-right-radius: 6px;
}
.price-table tr.total-price-line td:last-child {
    border-bottom-right-radius: 6px;
}
.price-table tr.total-price-line td:first-child {
    border-bottom-left-radius: 6px;
}
.price-table tr th:first-child {
    text-align: left;
    padding-left: 20px;
    border-top-left-radius: 6px;
}
.price-table td {
    font-size: 94%;
    color: #3B3B3B;
    font-family: 'roboto';
    padding: 5px 0 5px 0;
    height: 50px;
    text-align: center;
}
.price-table tr td:first-child {
    text-align: left;
    padding-left: 20px;
}
.price-table tr.price-line td {
    background-color: white;
}
.price-table tr.price-line:nth-child(odd) td {
    background-color: #F2F2F2;
}
.bordered-item {
    width: 85%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #E0E0E0;
    font-family: 'roboto-bold';
    color: #3B3B3B;
}
.bordered-item.first {
    color: #FDC92C;
}
.iban-container {
    height: 50px;
}
.main-button-s {
    border: 1px solid #ADADAD;
    color: #ADADAD;
    font-family: 'roboto';
    font-weight: bolder;
    width: 260px;
    height: 35px;
    border-radius: 6px;
    background-color: white;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.main-button-g {
    border: 1px solid #ADADAD;
    color: #ADADAD;
    font-family: 'roboto';
    font-weight: bolder;
    width: 230px;
    height: 35px;
    border-radius: 6px;
    background-color: white;;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.main-button-s.disabled {
    background-color: white;
}
.main-button-s.enabled {
     border: none;
     color: white;
     cursor: pointer;
     background-color: #FDC92C;
 }
.main-button-g.enabled {
    border: none;
    color: white;
    cursor: pointer;
    background-color: #ADADAD;
}
.main-button-s.enabled:hover {
    background-color: rgb(255, 221, 121);
}
.main-button-g.enabled:hover {
    background-color: rgb(222,222,222);
}
.big-title {
    color: #3B3B3B;
    font-family: 'roboto-bold';
    font-size: x-large;
}
.project-client-table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    width: 100%;
}
.project-client-table tr {
    height: 40px;
}
.project-client-table .separator-row {
    height: 10px;
    background-color: transparent;
}
.project-client-table tr.search-line {
    background-color: #707070;
}
.project-client-table tr th,.project-client-table tr td {
    min-width: 110px;
    padding: 5px 10px 5px 10px;
}
.project-client-table .header-row {
    font-family: 'roboto';
    font-weight: bold;
    color: #3B3B3B;
    background: white;
    text-align: left;
}
.project-client-table .header-row th {
    border-bottom: 1px solid rgb(151, 151, 151);
    border-left: 1px solid rgb(151, 151, 151);
    border-right: 1px solid rgb(151, 151, 151);
}
.project-client-table .header-row th:first-child {
    border-left: none;
}
.project-client-table .header-row th:last-child {
    border-right: none;
}
.project-client-table .project-line {
    background: white;
}
.project-client-table .project-line:nth-child(odd) {
    background-color: #F5F5F5;
}
.project-client-table .project-line td {
    border-left: 1px solid rgb(151, 151, 151);
    border-right: 1px solid rgb(151, 151, 151);
}
.project-client-table .project-line td:first-child {
    border-left: none;
}
.project-client-table .project-line td:last-child {
    border-right: none;
}
.project-state-dot {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.project-state-dot.waiting-signing {
    background-color: #D3D3D3;
}
.project-state-dot.waiting-redaction {
    background-color: #3866BE;
}
.project-state-dot.redaction {
    background-color: #24C4FF;
}
.project-state-dot.to-develop {
    background-color: #FFBC24;
}
.project-state-dot.abandonned {
    background-color: #950000;
}
.project-state-dot.finished {
    background-color: #8DD800;
}
.project-state-dot.paiement-error {
    background-color: #F84848;
}
.project-state-dot.suspended {
    background-color: black;
}
.project-state-dot.in-developement {
    background-color: #FFE624;
}
.centered-content {
    display: block;
    margin: auto;
    width: 58%;
    margin-top: 7%;
    text-align: center;
}
.centered-content span {
    display: block;
    color: #0097E8;
    font-family: 'roboto-bold';
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}
.centered-content .button-sent {
    display: block;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    background-color: #DEDEDE;
    height: 40px;
    line-height: 40px;
    font-family: 'roboto-bold';
    color: #888888;
}
.centered-content .button-sent.other {
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    color: white;
    background-color: #FDC92C;
}
.centered-content .button-sent.other:hover {
    background-color: rgb(255, 218, 108);
}
.centered-content .button-sent:hover {
    background-color: rgb(236, 240, 241)
}
.spinner-container {
    margin: auto;
    width: 100%;
    height: 150px;
    position: relative;
}
.spinner {
    position: absolute;
    width: 70px;
    height: 70px;
}
.dot-1 {
    position: relative;
    left: 40px;
    top: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0097E8;
}
.dot-2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0097E8;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}
.rotating-slow {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}
.diagram-container {
    padding-top: 15px;
    display: inline-block;
    position: relative;
    width: 30%;
    height: 190px;
    text-align: center;
}
.diagram-container .diagram-title {
    font-family: 'roboto';
    font-weight: bold;
    font-size: 90%;
}
.stat-sailer {
    width: 90%;
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
}
.stat-sailer tr {
    height: 35px;
    font-family: 'roboto';
    color: #3B3B3B;
}
.stat-sailer tr th, .stat-sailer tr td {
    padding: 5px 10px;
}
.stat-sailer tr th {
    border-bottom: 1px solid #8699A4;
}
.stat-sailer tr th:first-child, .stat-sailer tr:not(.add-line) td:first-child{
    border-right: 1px solid #8699A4;
    width: 85%;
}
.stat-sailer tr th:last-child{
    width: 15%;
}
.stat-sailer tr.sailer-line {
    background-color: white;
}
.stat-sailer tr td:last-child {
    text-align: center;
}
.stat-sailer tr.sailer-line:nth-child(odd){
    background: #F5F5F5;
}
.add-merchant {
    cursor: pointer;
    padding-right: 30px;
    padding-left: 30px;
    border: none;
    border-radius: 6px;
    background-color: #0097E8;
    color: white;
    font-family: 'roboto';
    text-align: center;
    height: 30px;
    vertical-align: top;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.add-merchant:hover {
    background-color: rgb(60, 171, 231);
}
.files-container {
    overflow-y: auto;
    margin-top: 20px;
    width: 90%;
    height: 224px;
    border: 1px solid #707070;
    background-color: transparent;
}
.files-container .file-row {
    display: block;
    width: 100%;
    background-color: white;
    padding: 5px 10px 5px 10px;
    height: 35px;
}
.files-container .file-row .file-name {
    font-size: medium;
    display: inline-block;
    width: 89%;
    text-align: left;
    height: 100%;
    vertical-align: text-bottom;
    font-weight: bold;
}
.files-container .file-row .download {
    cursor: pointer;
    display: inline-block;
    width: 10%;
    height: 100%;
    background-image: url('../img/download.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.files-container .file-row:nth-child(even) {
    background-color: #F5F5F5;
}
.assistance-table {
    margin-top: 10px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
.assistance-table tr {
    height: 30px;
    font-family: 'roboto';
    color: #3B3B3B;
}
.assistance-table tr th, .assistance-table tr td {
    text-align: center;
    padding: 3px 10px;
    min-width: 120px;
}
.assistance-table tr th {
    border: none;
}
.assistance-table tr th:first-child, .assistance-table tr td:first-child {
    width: 70%;
    text-align: left;
}
.assistance-table tr td {
    border: 1px solid #f1f1f1;
    background-color: white;
}
.assistance-table tr:nth-child(odd) td {
    background-color: #e6e6e6;
}
.assistance-table tr:nth-child(2) td:first-child {
    border-top-left-radius: 6px;
}
.assistance-table tr:nth-child(2) td:last-child {
    border-top-right-radius: 6px;
}
.assistance-table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
.assistance-table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}
.assistance-table td .eye {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.white-main-button {
    border: 1px solid #707070;
    border-radius: 6px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    height: 30px;
    vertical-align: inherit;
}
.textarea-style.part {
    border: 1px solid #707070;
    border-radius: 6px;
    padding: 5px;
    width: 90%;
    height: 100px;
    font-family: 'roboto';
    outline: none;
}
.textarea-style.part:focus, .textarea-style.part:active {
    outline: none;
}
.send-container {
    width: 90%;
    text-align: right;
}

.accordion {
    overflow-y: auto;
    margin-top: 20px;
    width: 90%;
    min-height: 224px;
    background-color: transparent;
}
.accordion .element, .accordion .element-content {
    width: 100%;
    border: 1px solid #a7a7a7;
    text-align: left;
}
.accordion .element {
    border-bottom: none;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.accordion .element:hover {
    background-color: rgb(230, 230, 230);
}
.accordion .element .arrow {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.arrow.rotate {
    transform: rotate(180deg);
}
.accordion .element-content {
    border-top: none;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.under-header {
    font-family: 'roboto';
    color: #ADADAD;
    font-size: small;
    text-align: left;
    display: block;
    margin-top: 10px;
}
.message-block {
    margin-top: 30px;
    display: block;
    width: 80%;
}
.message-block.right {
    text-align: right;
}
.message-block.left {
    text-align: left;
}
.message-block.left .block-button {
    text-align: left;
}
.message-block .block-title {
    font-family: 'roboto';
    color: #ADADAD;
    font-size: small;
    text-align: left;
    display: block;
    margin-bottom: 10px;
}
.message-block textarea {
    width: 100%;
    border: 1px solid #0097E8;
    border-radius: 6px;
    height: 100px;
    padding: 5px;
}
.message-block textarea:active, .message-block textarea:focus {
    outline: none;
}
.message-block .block-button {
    text-align: right;
    font-family: 'roboto';
    color: #ADADAD;
    font-size: small;
}
.message-block .block-message {
    border: 1px solid #ADADAD;
    border-radius: 6px;
    padding: 10px;
    display: inline-block;
    width: 80%;
    font-size: 95%;
    text-align: left;
}
