<div class="mod-container">
    <div class="mod-header">
        Félicitations ! Votre projet a été créé avec succès.
    </div>
    <div class="mod-content">
        <ul>
            <li>Un e-mail de confirmation a été envoyé à votre client</li>
            <li>Un e-mail d’information a été envoyé aux équipes Stormeo</li>
        </ul>
    </div>
    <div class="mod-information">
        Nous contactons votre client sous 48h.
    </div>
    <div class="mod-button-row">
        <button class="send-blue">Fermer</button>
    </div>
</div>